@import url("https://uanews.arizona.edu/modules/system/system.base.css?q8xo4e");

@import url("https://uanews.arizona.edu/sites/all/modules/date/date_api/date.css?q8xo4e");
@import url("https://uanews.arizona.edu/sites/all/modules/date/date_popup/themes/datepicker.1.7.css?q8xo4e");
@import url("https://uanews.arizona.edu/sites/all/modules/date/date_repeat_field/date_repeat_field.css?q8xo4e");
@import url("https://uanews.arizona.edu/modules/field/theme/field.css?q8xo4e");
@import url("https://uanews.arizona.edu/sites/all/modules/google_cse/google_cse.css?q8xo4e");
@import url("https://uanews.arizona.edu/sites/all/modules/calendar/css/calendar_multiday.css?q8xo4e");
@import url("https://uanews.arizona.edu/sites/all/modules/extlink/extlink.css?q8xo4e");
@import url("https://uanews.arizona.edu/sites/all/modules/views/css/views.css?q8xo4e");
@import url("https://uanews.arizona.edu/sites/all/modules/ckeditor/css/ckeditor.css?q8xo4e");

@import url("https://uanews.arizona.edu/sites/all/modules/colorbox/styles/default/colorbox_style.css?q8xo4e");
@import url("https://uanews.arizona.edu/sites/all/modules/ctools/css/ctools.css?q8xo4e");
@import url("https://uanews.arizona.edu/sites/all/modules/video/css/video.css?q8xo4e");
@import url("https://uanews.arizona.edu/sites/all/libraries/fontawesome/css/font-awesome.css?q8xo4e");
@import url("https://uanews.arizona.edu/sites/all/libraries/superfish/css/superfish.css?q8xo4e");

#spread-group {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

li img {
    width:50%;
}

.overlay {
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background:rgba(100,100,100,.7);
}

#popout {
    background:white;
    border-radius: 2em;
    border: white solid 2em;
    z-index: 9999;
    position:relative;
   left:-50%;
    width:unset;
}
#instructions {
    width:100%;
}
img {
    object-fit: cover;
}
#headerImg {
    width:150px;
}
h4 {
    display:inline;
}
#hovered {
    fill:black;
}
#video_top {
    position:absolute;
    top:25%;

    left:50%;
}
#video_elements {
    visibility: hidden;
}