@font-face {
  font-family:MiloOT-Ita;
  src:url("./resources/milo/MiloOT-Ita.otf")
}

@font-face {
  font-family:MiloOT-Text;
  src:url("./resources/milo/MiloOT-Text.otf")
}

@font-face {
  font-family:MiloOT;
  src:url("./resources/milo/MiloOT.otf")
}

@font-face {
  font-family:MiloOT-ExligIta;
  src:url("./resources/milo/MiloOT-ExligIta.otf")
}

@font-face {
  font-family:MiloOT-MediIta;
  src:url("./resources/milo/MiloOT-MediIta.otf")
}

@font-face {
  font-family:MiloOT-BlackIta;
  src:url("./resources/milo/MiloOT-BlackIta.otf")
}

@font-face {
  font-family:MiloOT-Bold;
  src:url("./resources/milo/MiloOT-Bold.otf")
}

@font-face {
  font-family:MiloOT-LightIta;
  src:url("./resources/milo/MiloOT-LightIta.otf")
}

@font-face {
  font-family:MiloOT-ThinIta;
  src:url("./resources/milo/MiloOT-ThinIta.otf")
}

@font-face {
  font-family:MiloOT-Light;
  src:url("./resources/milo/MiloOT-Light.otf")
}

@font-face {
  font-family:MiloOT-Xbold;
  src:url("./resources/milo/MiloOT-Xbold.otf")
}

@font-face {
  font-family:MiloOT-XboldIta;
  src:url("./resources/milo/MiloOT-XboldIta.otf")
}

@font-face {
  font-family:MiloOT-Exlig;
  src:url("./resources/milo/MiloOT-Exlig.otf")
}

@font-face {
  font-family:MiloOT-BoldIta;
  src:url("./resources/milo/MiloOT-BoldIta.otf")
}

@font-face {
  font-family:MiloOT-TextIta;
  src:url("./resources/milo/MiloOT-TextIta.otf")
}

@font-face {
  font-family:MiloOT-Medi;
  src:url("./resources/milo/MiloOT-Medi.otf")
}

@font-face {
  font-family:MiloOT-Black;
  src:url("./resources/milo/MiloOT-Black.otf")
}

@font-face {
  font-family:MiloOT-Thin;
  src:url("./resources/milo/MiloOT-Thin.otf")
}

#title {
  text-align:center;
}
#actions{
  position:absolute;
  top:0px;
  left:0px;
  display:flex;
  flex-direction:column;
}

.actionchild { 
  display:flex;
  flex-direction:row;
}
/**
#returnDiv img {
  width:20%;
}

*/

body,html {
  height:100%;
}
body {
  font-family:MiloOt-Exlig;
  font-size:20px;
}

#header-container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 54px;

}
#tour-links {
  display:flex;
  width:50%;
  justify-content: center ;
  margin:0 auto;
}
.tour-link {
  font-family:MiloOT-Exlig;
}

.intro-text {
  width:60%;
  margin:0 auto;
  font-family:MiloOt-Exlig;
}

#outer {
  display:flex;
  align-items:center;
  justify-content: space-evenly;
}

.floor {
  text-align:center;
  background:#8cb9d2;
  border:black solid 1pt;
}

#active {
  background:#d98748;
}

#exit {
  width:inherit;
}

#xholder {
  border:black 2px solid;
  background:gray;
  width:30px;
  position:relative;
  left:-50%;
}


.popoutHolder {
  background:#8cb9d2;
  align-items:flex-end;
}

#videoHolder {
  background:none;
  z-index: 50;
  position:absolute;
  left:50%;
  top:10%;
}

#vidinner {
  position:relative;
  left:-50%;
}

#grayout {
  position: absolute;
  top:0;
  left:0;
  background: rgba(100,100,100,.4);
  width:100%;
  height:100vh;
}

.popoutHolder img {
  width:100%;
}

#sceneex {
      position:absolute;
      top : 0px;
      left:0px;
      height:75px;
      width:unset;
}

.popimgcontrols{
  height:20px;
  width:20px;
  background:black;
}
#explanationVideo {
  width:50%;
  display:block;
  margin:5% auto;
}

.bottomleftvideo {
  position:absolute;
  bottom:0px;
  left:0px;
}

#footer{
  margin-top:5%;
  display:flex;
  justify-content:center;

}
#arttouricon{
  display:block;
  margin:0 auto;
  width:20%;
}